{sub_dirs, ["rel"]}.

{deps, [
    {riak_core, ".*", {git, "git://github.com/basho/riak_core", {branch, "develop"}}},
    {iorioc, ".*", {git, "git://github.com/marianoguerra/iorio_core", {branch, "master"}}},
    {iorio_rest, ".*", {git, "git://github.com/marianoguerra/iorio_rest", {branch, "master"}}},
    {mqttl, ".*", {git, "https://github.com/marianoguerra/mqttl", {branch, "master"}}}
]}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
