{sub_dirs, ["rel"]}.

{deps, [
    {riak_core, ".*", {git, "git://github.com/basho/riak_core", {branch, "develop"}}},
    {sblob , ".*", {git, "git://github.com/marianoguerra/sblob", {branch, "master"}}},
    {smc, ".*", {git, "git://github.com/marianoguerra/smc", {branch, "master"}}},
    {permiso, ".*", {git, "git://github.com/marianoguerra/permiso", {branch, "master"}}},
    {jwt, ".*", {git, "git://github.com/marianoguerra/jwt-erl", {branch, "master"}}},
    {cowboy, "1.0.0", {git, "https://github.com/ninenines/cowboy", {tag, "1.0.0"}}},
    {mqttl, ".*", {git, "https://github.com/marianoguerra/mqttl", {branch, "master"}}},
    {bullet, ".*", {git, "https://github.com/extend/bullet", {branch, "master"}}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", {tag, "v2.4.0"}}},
    {jsonpatch, ".*", {git, "https://github.com/marianoguerra/json-patch.erl", {branch, "master"}}},
    {shotgun, ".*", {git, "git@github.com:inaka/shotgun.git", {tag, "0.1.6"}}}
]}.

{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
