%%
%% etc/app.config
%%
{iorio_port, 8080}.
{iorio_acceptors, 100}.

{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8098"}.
{handoff_port,          "8099"}.

%%
%% etc/vm.args
%%
{node,                  "iorio@127.0.0.1"}.
{cookie,                "iorio"}.
