%%
%% etc/app.config
%%
{iorio_port, 8080}.
{iorio_secure_port, 8443}.
{iorio_acceptors, 100}.
{iorio_secret, changeme}.
{iorio_algorithm, hs256}.
{iorio_admin_username, "admin"}.
{iorio_admin_password, "secret"}.

{iorio_anon_username, "anonymous"}.
{iorio_anon_password, "secret"}.

{iorio_req_n, 3}.
{iorio_req_w, 3}.
{iorio_req_timeout, 5000}.

{iorio_bucket_evict_time_ms, 60000}.
{iorio_max_bucket_size_bytes, 52428800}.

{iorio_data_path , "../iorio_data"}.

{iorio_user_has_stream, true}.
{iorio_user_stream_prefix, "_user_"}.

{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8098"}.
{handoff_port,          "8099"}.

%%
%% etc/vm.args
%%
{node,                  "iorio@127.0.0.1"}.
{cookie,                "iorio"}.
