%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
[
 %% iorio config
 {iorio, [
          %% you may want to change it to
          %% [{"/ui/[...]", cowboy_static,
          %% {dir, "/path/to/your/ui", [{mimetypes, cow_mimetypes, all}]}}]
          %% see http://ninenines.eu/docs/en/cowboy/1.0/guide/static_handlers/
          %% for more options
          {api_handlers, [
                          {"/ui/[...]", iorio_cowboy_static,
                           {priv_dir, iorio, "assets", [{mimetypes, cow_mimetypes, all}]}}]}
         ]
 },
 %% Riak Core config
 {riak_core, [
              %% iorio valid permissions to grant
              {permissions, [{iorio, [put, get, list, grant, delete, adminusers]}]}
             ]
 },

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 %% Lager config
 %% see https://github.com/basho/lager#configuration
 %% see https://github.com/basho/lager/blob/master/src/lager.app.src
 {lager, [
   {handlers, [
     {lager_console_backend, info},
     {lager_file_backend, [{file, "error.log"}, {level, error},
                           {size, 10485760}, {date, "$D0"}, {count, 5}]},
     {lager_file_backend, [{file, "console.log"}, {level, info},
                           {size, 10485760}, {date, "$D0"}, {count, 5}]}
   ]}
 ]}
].
