[
 %% iorio config
 {iorio, [
     {http_port, {{iorio_http_port}} },
     {http_acceptors, {{iorio_http_acceptors}} },

     {auth_secret, <<"{{iorio_auth_secret}}">> },
     {auth_algorithm, {{iorio_auth_algorithm}} },

     {admin_username, "{{iorio_admin_username}}"},
     {admin_password, "{{iorio_admin_password}}"},

     {anon_username, "{{iorio_anon_username}}"},
     {anon_password, "{{iorio_anon_password}}"},

     {req_n, {{iorio_req_n}} },
     {req_w, {{iorio_req_w}} },
     {req_timeout, {{iorio_req_timeout}} },

     {data_path, "{{iorio_data_path}}" },

     {bucket_evict_time_ms, {{iorio_bucket_evict_time_ms}} },
     {max_bucket_size_bytes, {{iorio_max_bucket_size_bytes}} },

     {session_duration_secs, 86400},

     % will give permissions to own bucket on user creation
     {user_has_bucket, {{iorio_user_has_bucket}} },
     % when assigning permission to user's bucket use the following prefix
     {user_bucket_prefix, "{{iorio_user_bucket_prefix}}" },

     %% MQTT
     {mqtt_enabled, true },
     {mqtt_port, {{iorio_mqtt_port}} },
     {mqtt_acceptors, 100 },
     {mqtt_max_connections, 1024 },

     % set to true if you want to use https
     {https_enabled, false},
     {https_port, {{iorio_https_port}} },
     % set it if you have a cacert and https_enabled is true
     % {https_cacert, "../ssl/ca.crt"},
     % set it if https_enabled is true
     % {https_cert, "../ssl/cert.pem"},
     % set it if https_enabled is true
     % {https_key, "../ssl/key.pem"},

     %% you may want to change it to
     %% [{"/ui/[...]", cowboy_static,
     %% {dir, "/path/to/your/ui", [{mimetypes, cow_mimetypes, all}]}}]
     %% see http://ninenines.eu/docs/en/cowboy/1.0/guide/static_handlers/
     %% for more options
     {api_handlers, [
         {"/ui/[...]", iorio_cowboy_static,
             {priv_dir, iorio, "assets", [{mimetypes, cow_mimetypes, all}]}}]}
    ]
 },
 %% Riak Core config
 {riak_core, [
              %% Default location of ringstate
              {ring_state_dir, "{{ring_state_dir}}"},

              {platform_data_dir, "../iorio_internal_data"},

              %% http is a list of IP addresses and TCP ports that the Riak
              %% HTTP interface will bind.
              {http, [ {"{{web_ip}}", {{web_port}} } ]},

              %% riak_handoff_port is the TCP port that Riak uses for
              %% intra-cluster data handoff.
              {handoff_port, {{handoff_port}} },

              %% iorio valid permissions to grant
              {permissions, [{iorio, [put, get, list, grant, adminusers]}]}
          ]
 },

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]},

%% Lager config
%% see https://github.com/basho/lager#configuration
%% see https://github.com/basho/lager/blob/master/src/lager.app.src
{lager, [
    % {log_root, "/var/log/iorio"},
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [
            {"error.log", error, 10485760, "$D0", 5},
            {"console.log", info, 10485760, "$D0", 5}
        ]}
    ]}
]}

].
